@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
body {
  margin: 0;
  padding: 0;
  /* background-color: #f9fafb; */
  background-color: #f9fafb;
  font-family: "Inter", sans-serif;
}
.container {
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.task-box {
  border-radius: 1rem;
  padding: 1rem;
  width: 80%;
  /* background-color: #ffffff; */
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
}
.left-box {
  border: 2px solid #e5e7eb;
  background-color: #ffffff;
  border-radius: 1.5rem;
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.task-count {
  /* padding: 2rem */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #6b7280;
  /* line-height: 28px; */
}
.right-box {
  border: 2px solid #e5e7eb;
  background-color: #ffffff;
  border-radius: 1.5rem;
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}
#task-form {
  /* border: 1px solid #000; */
  width: 100%;
  display: flex;
  gap: 1rem;
}
#task-input {
  width: 90%;
  padding: 1rem;
  border: 2px solid #e5e7eb;
  border-radius: 1rem;
  padding: 1rem;
}
.add-btn {
  width: 20%;
  padding: 1rem;
  background-color: #fff;
  border: 2px solid #e5e7eb;
  border-radius: 1rem;
  cursor: pointer;
}
.add-btn:hover {
  background-color: #e5e7eb;
  transition: background-color 0.5s ease;
}
.task-type {
  display: flex;
  justify-content: space-between;
  gap: 1rem;

  /* padding: 1rem; */
}
.all-task-btn {
  width: 40%;
  padding: 1rem;
  background-color: #e5e7eb;
  border: 2px solid #e5e7eb;
  border-radius: 1rem;
  cursor: pointer;
  font-size: medium;
  font-weight: bold;
}
.completed-task-btn {
  width: 80%;
  padding: 1rem;
  background-color: #fff;
  border: 2px solid #e5e7eb;
  border-radius: 1rem;
  cursor: pointer;
  font-size: medium;
  font-weight: bold;
}
.pending-task-btn {
  width: 80%;
  padding: 1rem;
  background-color: #fff;
  border: 2px solid #e5e7eb;
  border-radius: 1rem;
  cursor: pointer;
  font-size: medium;
  font-weight: bold;
}
.completed-task-btn:hover {
  background-color: #e5e7eb;
  transition: background-color 0.5s ease;
}
.pending-task-btn:hover {
  background-color: #e5e7eb;
  transition: background-color 0.5s ease;
}
